.main {
padding : 10px;
width : 650px;
}
.instructions {
width : 650px;
font-size : 12px;
background-color : #F7DFBD;
border-top-width : thin;
border-right-width : thin;
border-bottom-width : thin;
border-left-width : thin;
border-top-style : solid;
border-right-style : solid;
//border-bottom-style : solid;
border-left-style : solid;
}
.game {
background-color : #F7DFBD;
display : none;
width : 650px;
border-top-width : thin;
border-right-width : thin;
border-bottom-width : thin;
border-left-width : thin;
border-top-style : solid;
border-right-style : solid;
//border-bottom-style : solid;
border-left-style : solid;
}
.pause {
background-color : #F7DFBD;
display : none;
width : 650px;
border-top-width : thin;
border-right-width : thin;
border-bottom-width : thin;
border-left-width : thin;
border-top-style : solid;
border-right-style : solid;
//border-bottom-style : solid;
border-left-style : solid;
font-size : 16px;
font-style : italic;
font-weight : bold;
text-align : center;
}
.gameOver {
background-color : #F7DFBD;
display:none;
width : 650px;
border-top-width : thin;
border-right-width : thin;
border-bottom-width : thin;
border-left-width : thin;
border-top-style : solid;
border-right-style : solid;
//border-bottom-style : solid;
border-left-style : solid;
}
.navigation {
background-color : #666;
height : 30px;
width : 650px;
border-top-width : thin;
border-right-width : thin;
border-bottom-width : thin;
border-left-width : thin;
border-top-style : solid;
border-right-style : solid;
border-bottom-style : solid;
border-left-style : solid;
padding-top : 10px;
padding-bottom : 10px;
padding-left : 0;
}
.sequenceIndex {
float : left;
width : 165px;
}
.yourOutput {
float : left;
width : 50px;
text-align : center;
}
.correctOutput {
float : left;
width : 220px;
}
.playerOrder {
float : left;
width : 330px;
}

.gameOverLink{
background-color : #F7DFBD;
height : 40px;
width : 650px;
border-top-width : thin;
border-right-width : thin;
border-bottom-width : thin;
border-left-width : thin;
//border-top-style : solid;
border-right-style : solid;
border-bottom-style : solid;
border-left-style : solid;
text-align:center;
}

.gameOverContent{
display:none;
}

.Label {
font-size : 13px;
padding-bottom : 2px;
text-align : center;
}
.timer {
font-size : 14px;
font-style : italic;
color : #FFF;
}
.timerValue {
color : #FFF;
font-size : 18px;
}
.levelLabel {
font-size : 18px;
color : #F7DFBD;
font-style : normal;
font-weight : bold;
padding-top : 20px;
padding-right : 0;
padding-bottom : 0;
padding-left : 0;
}
.timerLabel {
font-size : 18px;
color : #F7DFBD;
font-style : normal;
font-weight : bold;
padding-top : 20px;
}
.scoreLabel {
font-size : 18px;
color : #F7DFBD;
font-style : normal;
font-weight : bold;
padding-top : 20px;
}
.scoreValue {
font-size : 18px;
color : #FFF;
}
.controls {
padding-top : 10px;
padding-right : 15px;
padding-bottom : 10px;
}
.playPause {
padding-top : 10px;
padding-right : 15px;
padding-bottom : 10px;
}
.levels {
padding-top : 10px;
padding-right : 15px;
padding-bottom : 10px;
}
.timer {
padding-top : 10px;
padding-right : 15px;
padding-bottom : 10px;
}
.score {
padding-top : 10px;
padding-right : 15px;
padding-bottom : 10px;
border : #000 none 5px;
}
.instructionsButton {
background-image : url("../images/sequence/instructions_button0001.png");
background-repeat:no-repeat;
background-color : #666;
border-top-style : none;
border-right-style : none;
border-bottom-style : none;
border-left-style : none;
height : 30px;
width : 27px;
padding-left : 10px;
padding-right : 20px;
}
.muteButton {
background-image : url("../images/sequence/sound_button0002.png");
background-repeat:no-repeat;
background-color : #666;
border-top-style : none;
border-right-style : none;
border-bottom-style : none;
border-left-style : none;
height : 26px;
width : 26px;
padding-right : 20px;
}
.playButton {
background-image : url("../images/sequence/play_button0001.png");
background-repeat:no-repeat;
background-color : #666;
border-top-style : none;
border-right-style : none;
border-bottom-style : none;
border-left-style : none;
height : 30px;
width : 26px;
padding-left : 10px;
padding-right : 20px;
}
.pauseButton {
background-image : url("../images/sequence/pause_button0001.png");
background-repeat:no-repeat;
background-color : #666;
border-top-style : none;
border-right-style : none;
border-bottom-style : none;
border-left-style : none;
height : 30px;
width : 27px;
padding-left : 10px;
padding-right : 20px;
display : none;
}
.yourSequence {
background-color : #666666;
width : 100px;
height : 15px;
font-size : 14px;
font-weight : bold;
text-align : right;
}
.correctSequence {
background-color : #666666;
width : 100px;
height : 15px;
font-size : 14px;
font-weight : bold;
text-align : right;
}
.Seq {
height : 20px;
width : 20px;
}
html {
font-family : Helvetica, Arial, sans-serif;
}
.levelDisabled {
color : #660000;
}
.levelEnabled {
color : #00FF00;
}
.tableHeight{
height : 27px;	
}
.yourSequenceTable{
text-align: center;
width : 70px;
}
.correctSequenceTable{
text-align: center;
width : 90px;
}
#sortable {
list-style-type : none;
margin : 0;
padding : 0;
width : 204px;
}
#sortable li {
margin : 0 3px 3px 3px;
padding : 6.4px;
padding-left : 24px;
font-size : 14px;
width : 440px;
height : 15px;
background-image : url("../images/gradient.jpg");
}
#sortable li span {
position : absolute;
margin-left : 20px;
}
#expected {
list-style-type : none;
margin : 0;
padding : 0;
width : 170px;
}
#expected li {
margin : 0 3px 3px 3px;
padding : 6.4px;
padding-left : 24px;
font-size : 14px;
width : 440px;
height : 15px;
background-image : url("../images/gradient.jpg");
}
#expected li span {
position : absolute;
margin-left : 20px;
}
#sequence {
list-style-type : none;
margin : 0;
padding : 0;
width : 20px;
}
#sequence li {
margin : 0 3px 3px 3px;
padding : 6.4px;
padding-left : 24px;
font-size : 14px;
width : 40px;
height : 15px;
background-image : url("../images/gradient.jpg");
}
#sequence li span {
position : absolute;
margin-left : 20px;
}
#output {
list-style-type : none;
margin : 0;
padding : 0;
width : 85px;
}
#output li {
margin : 0 3px 3px 3px;
padding : 6.4px;
padding-left : 24px;
font-size : 14px;
width : 40px;
height : 15px;
background-image : url("../images/gradient.jpg");
}
#output li span {
position : absolute;
margin-left : 20px;
}
#sequence2 {
list-style-type : none;
margin : 0;
padding : 0;
width : 20px;
}
#sequence2 li {
margin : 0 3px 3px 3px;
padding : 6.4px;
padding-left : 24px;
font-size : 14px;
width : 40px;
height : 15px;
background-image : url("../images/gradient.jpg");
}
#sequence2 li span {
position : absolute;
margin-left : 20px;
}
#output2 {
list-style-type : none;
margin : 0;
padding : 0;
width : 85px;
}
#output2 li {
margin : 0 3px 3px 3px;
padding : 6.4px;
padding-left : 24px;
font-size : 14px;
width : 40px;
height : 15px;
background-image : url("../images/gradient.jpg");
}
#output2 li span {
position : absolute;
margin-left : 20px;
}
